*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f8f8f8;
}
.form-area{
    width: 45%;
    padding: 100px 70px;
    margin: 100px auto;
    background-color: #f8f0f0;
}
.title{
    width: 35%;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin: 0 auto 50px;
    background-color: #252628;
    clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
}
.info label{
    width: 20%;
    font-weight: 800;
    display: inline-block;
}
.info input{
    width: 75%;
    height: 2.2em;
    outline: 0;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(158, 157, 157);
}
.gender{
    width: 18%;
    font-weight: 900;
    display: inline-block;
}
textarea{
    width: 96%;
    outline: 0;
    border: none;
    margin: 15px 0 30px;
    background-color: transparent;
    border-bottom: 1px solid rgb(158, 157, 157);
}
input[type=submit]{
    color: white;
    font-weight: 800;
    margin-top: 8px;
    padding: 12px 20px;
    background: #252628;
    border-radius: 5px;
    border: 1px solid white;
}
input[type=submit]:hover{
    cursor: pointer;
    color: bisque;
    background-color: rgb(0, 0, 0);
}