*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f8f8f8;
}
.form-area{
    width: 45%;
    padding: 100px 70px;
    margin: 100px auto;
    background-color: #f8f0f0;
}
.title{
    width: 35%;
    color: white;
    padding: 10px 0;
    cursor: pointer;
    text-align: center;
    margin: 0 auto 50px;
    background-color: #252628;
    clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
}
.text-gradient:hover{
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, orange, red);
}
.info label{
    width: 20%;
    font-weight: 800;
    display: inline-block;
}
.info input{
    width: 75%;
    height: 2.2em;
    outline: 0;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(158, 157, 157);
}
.info input:focus,
textarea:focus{
    border-image: linear-gradient(to right, orange, red);
    border-image-slice: 1;
}
.gender{
    width: 18%;
    font-weight: 900;
    display: inline-block;
}
textarea{
    width: 96%;
    outline: 0;
    border: none;
    margin: 15px 0 30px;
    background-color: transparent;
    border-bottom: 1px solid rgb(158, 157, 157);
}
button{
    color: white;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 800;
    padding: 12px 20px;
    border-radius: 5px;
    background: #252628;
    border: 1px solid white;
}
button span:hover{
    cursor: pointer;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, orange, red);
}